<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{title}}</title>
  <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
  <link href="/static/img/icon.png" rel="icon" type="image/png" />
</head>
<body>
<div id="wrapper">
  <div id="header">
    <strong>{{title}}</strong>
  </div>
  <div id="content">
    %if msg:
    <div id="statusmsg"><strong>{{msg}}</strong></div>
    %end
    <ul class="buttons clr">
      <li class="action-button"><a href="/proxy">Proxy</a></li>
      <li class="action-button"><a href="/routes">Routes</a></li>
      <li class="action-button"><a href="/dns">DNS</a></li>
    </ul>
    <form method="POST">
      <p>
      <strong>Entry name *:</strong><br/>
      <input type="text" name="name"><br/>
      <strong>Entry value *:</strong><br/>
      <input type="text" name="value"><br/>
      <strong>Entry type:</strong><br/>
      <select name="dtype">
        <option>A</option>
        <option>AAAA</option>
        <option>CNAME</option>
        <option>MX</option>
        <option>NS</option>
      </select><br/>
      <input type="submit" value="Add DNS entry">
      </p>
      <p>
        <i>* field are mandatory</i>
      </p>
    </form>
  </div>
  <div class="push">
  </div>
</div>
<div id="footer" class="clr">
  <div class="left">
    <a href="https://github.com/jychp/dockeranon">DockerAnon</a> <span>v1.0.0-beta</span>
  </div>
  <div class="right">
    &copy; 2020 <strong><a href="https://github.com/jychp/dockeranon">DockerAnon</a></strong>
  </div>
</div>
</body>
</html>